<span id="pizyds_rain_button_field" class="<%= FIELD_CLASS %> <%= CLASS %>">
    <span id="pizyds_rain_download_button" title="点击下载PPT">
        <%- DOWNLOAD_BUTTON_ICON %> 下载课件
    </span>
    <span id="pizyds_rain_config_button">
        [ <%- CONFIG_BUTTON_ICON %> ]
    </span>
</span>